
.color{
    background-color: #aba0f0 !important;
  }
  .form-control:focus {
    outline: none;
    box-shadow: 0 0 7px #aba0f0 !important; 
    border-color: #aba0f0 !important; 
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  @media (min-width: 768px) {
    .search-filters .form-control {
      width: 48%;
      margin: 0.5rem 0;
    }
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse;
  }
  .responsive-table th, .responsive-table td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #ddd;
  }
  @media (max-width: 768px) {
    .responsive-table thead {
      display: none;
    }
  
    .responsive-table tr {
      display: block;
      margin-bottom: 1rem;
      border-bottom: 2px solid #ddd;
    }
    .responsive-table td {
      display: block;
      text-align: right;
      border-bottom: 1px solid #ddd;
    }
  
    .responsive-table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }
  .graph-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .graph-container canvas {
    max-width: 100%;
    height: auto;
  }
  
  .font_size{
    font-size: large;
  }